#main {
    width: 80%;
    margin: 0 auto;
}

.form_row {
    margin: 5px;
}

.field_label {
    display: inline-block;
    width: 120px;
}

#error_section {
    border: 1px solid red;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
    background-color: pink;
}

table {
    width: 100%;
}

th {
    text-align: left;
    width: 30%;
}

#results_graph {
    border: 1px solid black;
}
